#content {
  position: relative;
  height: 240px;
}

#content .item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

#content .item img {
  height: 240px;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
